name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    container:
      image: alpine:3.15

    steps:
      - name: Install dependencies (apk)
        run: apk add --no-cache gcc-arm-none-eabi newlib-arm-none-eabi findutils make git python3 py3-pip

      - name: Install dependencies (py)
        run: pip3 install IntelHex

      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: build runtime
        run: make all build_type=runtime

      - name: build bootloader
        run: rm -rf build/*.o build/*.d && make all build_type=bootloader

      - name: Archive  artifacts
        uses: actions/upload-artifact@v2
        with:
          path: |
            build/*.hex
            build/*.dfu
            build/*.bin
          if-no-files-found: error
